<img src="/assets/logos.gif" alt="">
<h1>Felicitation</h1>

<div class="mt-3">
    <a href="/batiment/pageTableau" class="btn btn-danger" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);"><i class="ti-angle-double-left"></i><b> Retour</b></a>
  </div>